.header__lang {
  margin-left: 18px;
  line-height: 28px;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .header__lang {
    line-height: calc(20px + (28 - 20) * var(--scale-S));
    font-size: calc(18px + (24 - 18) * var(--scale-S));
  }

}
