.header__logo {
  --width: 176px;
  width: var(--width);
  height: calc(var(--width) * 52 / 176);
  background: url(./header__logo.svg) no-repeat;
  background-size: contain;
  margin-right: auto;
}


@media (max-width: 768px) {

  .header__logo {
    --width: calc(142px + (176 - 142) * var(--scale-S));
  }

}

