.header__logo {
  width: 176px;
  height: 52px;
  background: url(./header__logo.svg) no-repeat;
  background-size: cover;
  margin-right: auto;
}


@media (max-width: 768px) {

  .header__logo {
    width: calc(142px + (176 - 142) * var(--scale-k));
    height: calc(42px + (52 - 42) * var(--scale-k));
  }

}

