/*
Данный класс был создан на случай, если вдруг
нам потребуется включить в набор изображение,
большее по высоте, чем все остальные.
Тогда остальные изображения, находящиеся в одной строке с ним,
растянутся до таких же размеров, и будет лучше,
если они сохранят пропорции и обрежутся, чем растянутся.
Но пока у нас все изображения одинакового формата,
необходимости в данном классе нет.
*/

.photos__image {
    object-fit: cover;
}
