.footer__nav-link {
  line-height: 18px;
  font-size: 16px;
  margin-right: 18px;
  text-decoration: none;
  color: var(--color-text);
}


@media (max-width: 750px) {

  .footer__nav-link {
    line-height: 24px;
    font-size: 24px;
    margin-bottom: 32px;
  }

}
