@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter/Inter-Regular.woff2) format('woff2'),
       url(../../fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter/Inter-Bold.woff2) format('woff2'),
       url(../../fonts/Inter/Inter-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter/Inter-Black.woff2) format('woff2'),
       url(../../fonts/Inter/Inter-Black.woff) format('woff');
  font-weight: 900;
}

:root {
  --color-background: #2a2c2f;
  --color-label: #aaa;
  --color-text: #fff;
  /* Коэффициенты интерполяции между ключевыми разрешениями */
  --scale-L: calc((100vw - 1024px) / (1280 - 1024));
  --scale-M: calc((100vw - 768px) / (1024 - 768));
  --scale-S: calc((100vw - 320px) / (768 - 320));
  /* Основные паддинги, затрагивающие сразу несколько секций */
  /*    (будут плавающими на соответствующих интервалах)     */
  --padding-L: calc(48px + (148 - 48) * var(--scale-L));
  --padding-M: calc(24px + (48 - 24) * var(--scale-M));
  --padding-S: calc(16px + (24 - 16) * var(--scale-S));
}
