@import url(../vendor/normalize.css);

@import url(../blocks/root/root.css);
@import url(../blocks/background/background.css);
@import url(../blocks/page/page.css);

  @import url(../blocks/header/__cap/header__cap.css);
    @import url(../blocks/header/__logo/header__logo.css);
    @import url(../blocks/header/__lang/header__lang.css);
    @import url(../blocks/header/__lang/_active/header__lang_active.css);
  @import url(../blocks/header/__title/header__title.css);
  @import url(../blocks/header/__subtitle/header__subtitle.css);
  @import url(../blocks/header/__image/header__image.css);
  @import url(../blocks/header/__subscript/header__subscript.css);

@import url(../blocks/description/description.css);
  @import url(../blocks/description/__title/description__title.css);
  @import url(../blocks/description/__text/description__text.css);
  @import url(../blocks/description/__statistics/description__statistics.css);
  @import url(../blocks/description/__statistic-data/description__statistic-data.css);

  @import url(../blocks/photos/photos.css);

@import url(../blocks/cover/cover.css);
  @import url(../blocks/cover/__link/cover__link.css);
  @import url(../blocks/cover/__link-overlay/cover__link-overlay.css);
  @import url(../blocks/cover/__link-text/cover__link-text.css);
  @import url(../blocks/cover/__link-title/cover__link-title.css);
  @import url(../blocks/cover/__link-subtitle/cover__link-subtitle.css);

@import url(../blocks/footer/footer.css);
  @import url(../blocks/footer/__nav/footer__nav.css);
  @import url(../blocks/footer/__nav-link/footer__nav-link.css);
  @import url(../blocks/footer/__author/footer__author.css);
