.place {
  --image-width: 460px;
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 48px;
  column-gap: 3.1vw;
}


@media (max-width: 900px) {

  .place {
    column-gap: 3.6vw;
  }

}


@media (max-width: 500px) {

  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }

}
