.place {
  display: grid;
  grid-template-columns: 460fr 484fr;
  place-items: stretch;
  row-gap: 48px;
  column-gap: 3.1vw;
}


@media (max-width: 1100px) {

  .place {
    grid-template-columns: 440fr 456fr;
  }

}


@media (max-width: 900px) {

  .place {
    column-gap: 3.6vw;
  }

}


@media (max-width: 500px) {

  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }

}
