.place {
  --image-width: 460px;
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 48px;
  column-gap: 3.1vw;
}


@media (max-width: 1280px) {

  .place {
    --image-width: calc(440px + (460 - 440) * var(--scale-L));
  }

}


@media (max-width: 1024px) {

  .place {
    --image-width: calc(340px + (440 - 340) * var(--scale-M));
  }

}


@media (max-width: 900px) {

  .place {
    column-gap: 3.6vw;
  }

}


@media (max-width: 768px) {

  .place {
    --image-width: calc(100px + (340 - 100) * var(--scale-S));
  }

}


@media (max-width: 500px) {

  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
    --image-width: calc(320px - 2 * 16px);
  }

}
