.footer {
  box-sizing: border-box;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


@media (max-width: 1024px) {

  .footer {
    padding: calc(88px + (92 - 88) * var(--scale-M))
             calc(24px + (48 - 24) * var(--scale-M)) 24px;
  }

}


@media (max-width: 768px) {

  .footer {
    padding: 88px calc(16px + (24 - 16) * var(--scale-S)) 24px;
  }

}


@media (max-width: 750px) {

  .footer {
    display: block;
    padding-top: 64px;
  }

}
