.photos {
  padding: 0 48px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: stretch;
  gap: 16px;
}


@media (max-width: 1024px) {

  .photos {
    padding: 0 var(--padding-M);
    gap: 14px;
  }

}


@media (max-width: 768px) {

  .photos {
    padding: 0 var(--padding-S);
    gap: 16px;
  }

}


@media (max-width: 400px) {

  .photos {
    gap: 12px;
  }

}
