.header__title {
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}


@media (max-width: 768px) {

  .header__title {
    line-height: calc(44px + (100 - 44) * var(--scale-k));
    font-size: 12.5vw;
    max-width: calc(288px + (720 - 288) * var(--scale-k));
  }

}
